<h1>ABOUT THE MASTER</h1>
<section>
  <div class="gif">
    <img src="/images/jean-claude-van-damme-danse.gif" alt="jcvd-danse" />
  </div>
  <div class="text">
    <p>Jean-Claude Van Damme, né le 18 octobre 1960 à Berchem-Sainte-Agathe, une
      commune de Bruxelles en Belgique, est un acteur, réalisateur, producteur
      de cinéma et pratiquant belge d'arts martiaux. Après s'être exercé
      intensivement aux arts martiaux dès l'âge de dix ans, il connaît le succès
      national en Belgique comme lutteur et culturiste, remportant le titre de «
      Mister Belgium » en 1978. En 1982, il émigre aux États-Unis afin de
      poursuivre une carrière au cinéma, connaissant le succès avec le film
      Bloodsport (1988) qui, pour un budget d'un million et demi de dollars en
      rapporte soixante-cinq dans le monde. Van Damme atteint alors les sommets
      au box-office, notamment avec ses rôles dans Universal Soldier (1992) et
      Timecop (1994), qui à eux deux rapporteront plus de deux cent millions de
      dollars de recettes et feront de lui l'un des acteurs vedettes du cinéma
      d'action des années 1990.</p>
  </div>
</section>